@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700');

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
}

img {
    max-height: 150px;
    margin: auto;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 400;
}




.inventory {
    /* display: flex;
    flex-direction: row;
    margin: 20px */
}

.inventory>* {
    width: 200px;
}

.active_player {
    font-weight: bold;
}

.deck {
    display: inline-flex;
    justify-content: center;
}



.deck1 {
    background: linear-gradient(90deg, var(--transparent) 0, var(--deck1) 10%, var(--deck1) 90%, var(--transparent));
}


.deck1>.hiddencard {
    background: var(--deck1);
}



.deck2 {
    background: linear-gradient(90deg, var(--transparent) 0, var(--deck2) 10%, var(--deck2) 90%, var(--transparent));

}

.deck2>.hiddencard {
    background: var(--deck2);
}



.deck3 {
    background: linear-gradient(90deg, var(--transparent) 0, var(--deck3) 10%, var(--deck3) 90%, var(--transparent));

}

.deck3>.hiddencard {
    background: var(--deck3);
}