.card--blue {
    background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
    box-shadow: 0px 5px 20px -10px #000851;
}

.card--blue .card__value {
    background-color: #1cb5e0;
}

.card--red {
    background: linear-gradient(0deg, rgba(199, 24, 0, 1) 10%, rgba(252, 194, 69, 1) 100%);
}

.card--red .card__value {
    background-color: rgba(199, 24, 0, 1);
}


.card--black {
    background: linear-gradient(20deg, rgba(25, 25, 25, 1) 0%, rgba(16, 11, 50, 1) 33%, rgba(92, 2, 73, 1) 100%);
}

.card--black .card__value {
    background: #5c0249;
}

.card--green {
    background: linear-gradient(140deg, rgba(196, 218, 61, 1) 0%, rgba(110, 127, 14, 1) 69%, rgba(39, 80, 9, 1) 100%);
}

.card--green .card__value {
    background: #6e7f0e;
}

.card--white {
    background: linear-gradient(230deg, rgb(212, 212, 212) 0%, rgb(174, 174, 174) 46%, rgb(93, 93, 93) 100%);
}

.card--white .card__value {
    background: #c3c3c3;
}