.card {
    display: inline-flex;
    width: max(14%, 175px) !important;
    padding: 0.5em;
    border-radius: 15px;
    margin: 10px;
    background: #ddd;
    text-align: left;
    box-shadow: 0px 5px 20px -10px #111;
    position: relative;
    /* transition: 0.4s; */
    aspect-ratio: 512/704;
    /* background-color: green; */
    background-size: 120% !important;

    background-repeat: no-repeat !important;
    background-position: center center !important;

}


.cardinv {
    display: inline-block;
    /* width: min(80%, 200px); */
    padding: 1em;
    border-radius: 15px;
    margin: 10px;
    background: #ddd;
    text-align: left;
    box-shadow: 0px 5px 20px -10px #111;
    position: static;
    /* transition: 0.4s; */
}

.cardinv:hover .cardinv__caption {
    background-color: rgba(255, 255, 255, 0.65);
}

.cardinv__caption {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;
}

.buyable {
    box-shadow: 10px 5px 5px var(--buyable);
}

.card__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: right;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.02em;
    /* background-color: rgba(141, 141, 141, 0.927); */
    /* size: auto; */
    width: 2em;
    padding: 2.5%;
    top: 0px;
    right: 0px;
    /* height: 6em; */
    border-radius: 15px;
    margin: 5px;
    -webkit-text-stroke: 1px black;
    color: white;

}

.card_costs {
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 50%;
    height: 50%; */
    justify-content: flex-end;
    /* position: relative; */
}

.card_costs>* {
    width: 7em;
}

.hiddencard__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    -webkit-text-stroke: 1px black;
    ;
    /* color: white; */
    top: 50%;
    right: calc(-50%);
    font-size: 5em;
    position: relative;
}






.card:nth-child(1) {
    transform: translateY(0px) rotate(2deg);
}

.card:nth-child(2) {
    transform: translateY(0px) rotate(0deg);
}

.card:nth-child(3) {
    transform: translateY(0px) rotate(1deg);
}

.card:nth-child(4) {
    transform: translateY(0px) rotate(1deg);
}

.card:nth-child(5) {
    transform: translateY(0px) rotate(-3deg);
}

.card:nth-child(6) {
    transform: translateY(0px) rotate(2deg);
}

.card:nth-child(7) {
    transform: translateY(0px) rotate(4deg);
}

.card:nth-child(8) {
    transform: translateY(0px) rotate(2deg);
}

.card:nth-child(9) {
    transform: translateY(0px) rotate(4deg);
}

.deck1>* {
    rotate: 2deg;
}

.deck2>* {
    rotate: -3deg;
}

.deck3>* {
    rotate: 0deg;
}

.card:hover {
    z-index: 5;
    box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.5);
    ;
    transform: translateY(-10px);
    transform: scale(1.75);
}

.buyable:hover {
    box-shadow: 30px 30px 30px 30px var(--buyable_trans75);
}