:root {
    --blue1: #1cb5e0;
    --blue2: #000851;

    --red1: rgba(199, 24, 0, 1);
    --red2: rgba(252, 194, 69, 1);

    --black1: rgba(92, 2, 73, 1);
    --black2: rgba(25, 25, 25, 1);

    --green1: rgba(196, 218, 61, 1);
    --green2: rgba(39, 80, 9, 1);

    --white1: rgb(93, 93, 93);
    --white2: rgb(212, 212, 212);
}