{% extends "main.html" %}
{% block imports %}
<script type="text/javascript" src={{ url_for('static', filename='common.js' ) }}></script>
<script type="text/javascript" src={{ url_for('static', filename='card.js' ) }}></script>
<script type="text/javascript" src={{ url_for('static', filename='player.js' ) }}></script>
<script type="text/javascript" src={{ url_for('static', filename='game.js' ) }}></script>

<link rel="stylesheet" href={{ url_for('static', filename='css/base.css' ) }}>
<link rel="stylesheet" href={{ url_for('static', filename='css/colors.css' ) }}>
<link rel="stylesheet" href={{ url_for('static', filename='css/cards.css' ) }}>
<link rel="stylesheet" href={{ url_for('static', filename='css/chips.css' ) }}>
<link rel="stylesheet" href={{ url_for('static', filename='css/cards_colors.css' ) }}>
{% endblock %}
{% block content %}


<div id="templates">

    <!-- Stealed from https://codepen.io/csb324/pen/MXVaLj -->
    <template id="CardTemplate">
        <div class="card">


            <h1 class="card__name bi-gem" id="value">Eevee</h1>



            <div class="card_costs">
                {% for color in ['black', 'blue', 'green', 'red', 'white'] %}
                <div class="progress solid solid-{{ color }}">
                    <div id="cost_{{ color }}" class="progress-bar progress-bar-striped card-bg-{{ color }}"
                        role="progressbar" style="width: 10%"></div>
                    <div id="cost2_{{ color }}" class="progress-bar card-bg2-{{ color }}" role="progressbar"
                        style="width: 100%"></div>
                </div>
                {% endfor %}
                <!-- </figcaption> -->

            </div>
        </div>
    </template>

    <template id="HiddenCardTemplate">
        <div class="card hiddencard">
            <h1 class="hiddencard__name" id="value">Eevee</h1>

        </div>
    </template>



    <template id="ChipTemplate">
        <div id="count" class="chip"> <span>$</span></div>
    </template>

</div>

<div class="container">
    <div class="">

        <!-- Score -->
        <table class="table col" id="score_table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Score</th>
                    <th scope="col">black</th>
                    <th scope="col">blue</th>
                    <th scope="col">green</th>
                    <th scope="col">red</th>
                    <th scope="col">white</th>
                    <th scope="col">winner in round</th>

                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <!-- Deck -->
        <div id="deck" class="row">

            <div id="level1" class="deck deck1 border"></div>
            <div id="level2" class="deck deck2 border"></div>
            <div id="level3" class="deck deck3 border"></div>

            <div id="deck_chips" class="text-center row">
                <div class="col">
                    {% for color in ['black', 'blue', 'green', 'red', 'white'] %}
                    <div id="deck_chips_{{ color }}" class="chips " onCLick="Game.addChipToBusket('{{color}}')"></div>
                    {% endfor %}
                </div>
                <div class="col">
                    <div id="deck_chips_buy" class="chips chips-busket rounded "></div>
                    <button id="deck_chips_buy_button" disabled class="" onClick="Game.getChips()">Buy</button>
                    <button id="deck_chips_refresh_button" class="" onClick="Game.refresh()">Refresh</button>
                </div>
            </div>
        </div>

        <!-- Player -->
        <div id="main_player_deck" class="row">
            <div id="name"></div>
            <div id="inventory" class="inventory card-group">
                {% for color in ['black', 'blue', 'green', 'red', 'white'] %}
                <div id="{{ color }} col card">
                    <div id="coins_{{ color }}">
                        <div id="main_player_chip_{{ color }}" class="chips">
                        </div>

                    </div>

                    <figure class="cardinv card--{{ color }}">

                        <figcaption class="cardinv__caption">
                            <h1 class="card__name" id="cards_{{ color }}">0</h1>
                        </figcaption>
                    </figure>

                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
<template id="ScoreTableRowTemplate">

    <tr>
        <td id="sc_name"></td>
        <td id="sc_score"></td>
        <td id="sc_black"></td>
        <td id="sc_blue"></td>
        <td id="sc_green"></td>
        <td id="sc_red"></td>
        <td id="sc_white"></td>
        <td id="sc_winner"></td>

    </tr>

</template>




<!-- Chips Stealed from https://codepen.io/DevEarley/pen/mOgVQx -->


{% endblock %}



{% block footer %}
<button type="button" class="btn btn-danger" onclick="delete_game()">Delete game</button>
{% endblock %}